https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

In [30]:
import pandas as pd

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
df2 = pd.read_parquet(url)

In [31]:
df2.shape

(3066766, 19)

In [51]:
df = df2.head(100).copy()

# Create a column for trip duration
duration_list = []
time_delta_series = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
for t in time_delta_series:
    duration_list.append(t.total_seconds() / 60)
df.insert(3, 'duration', duration_list)


# Define date from the pickup time
df.insert(0, 'date', df['tpep_pickup_datetime'].dt.date)

# Define type
df.insert(1, 'type', 'yellow_taxi')

df

,date,type,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,duration,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2023-01-01,yellow,2,2023-01-01 00:32:10,2023-01-01 00:40:36,8.433333,1.0,0.97,1.0,N,...,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2023-01-01,yellow,2,2023-01-01 00:55:08,2023-01-01 01:01:27,6.316667,1.0,1.10,1.0,N,...,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2023-01-01,yellow,2,2023-01-01 00:25:04,2023-01-01 00:37:49,12.750000,1.0,2.51,1.0,N,...,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,2023-01-01,yellow,1,2023-01-01 00:03:48,2023-01-01 00:13:25,9.616667,0.0,1.90,1.0,N,...,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2023-01-01,yellow,2,2023-01-01 00:10:29,2023-01-01 00:21:19,10.833333,1.0,1.43,1.0,N,...,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2023-01-01,yellow,2,2023-01-01 00:20:38,2023-01-01 00:21:26,0.800000,1.0,0.08,1.0,N,...,2,3.0,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
96,2023-01-01,yellow,2,2023-01-01 00:09:16,2023-01-01 00:30:17,21.016667,1.0,6.22,1.0,N,...,2,31.0,6.00,0.5,0.00,0.0,1.0,39.75,0.0,1.25
97,2023-01-01,yellow,2,2023-01-01 00:46:56,2023-01-01 00:59:16,12.333333,1.0,4.56,1.0,N,...,1,20.5,1.00,0.5,5.75,0.0,1.0,30.00,0.0,1.25
98,2023-01-01,yellow,2,2023-01-01 00:10:50,2023-01-01 00:20:19,9.483333,1.0,1.41,1.0,N,...,1,10.7,1.00,0.5,3.92,0.0,1.0,19.62,2.5,0.00
99,2023-01-01,yellow,2,2023-01-01 00:27:35,2023-01-01 00:37:49,10.233333,1.0,1.70,1.0,N,...,1,11.4,1.00,0.5,2.00,0.0,1.0,18.40,2.5,0.00

In [47]:
# df['tpep_pickup_datetime'].date().strftime('%Y-%m-%d')
# df['tpep_pickup_datetime'].to_datetime.strftime('%Y-%m-%d')
df['tpep_pickup_datetime'].dt.date
# df['tpep_pickup_datetime'][0]

0     2023-01-01
1     2023-01-01
2     2023-01-01
3     2023-01-01
4     2023-01-01
         ...
95    2023-01-01
96    2023-01-01
97    2023-01-01
98    2023-01-01
99    2023-01-01
Name: tpep_pickup_datetime, Length: 100, dtype: object

In [48]:
df['new'] = df['tpep_pickup_datetime'].dt.date
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,duration,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,new
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,8.433333,1.0,0.97,1.0,N,161,141,...,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,2023-01-01
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,6.316667,1.0,1.10,1.0,N,43,237,...,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,2023-01-01
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,12.750000,1.0,2.51,1.0,N,48,238,...,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,2023-01-01
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,9.616667,0.0,1.90,1.0,N,138,7,...,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,2023-01-01
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,10.833333,1.0,1.43,1.0,N,107,79,...,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2023-01-01 00:20:38,2023-01-01 00:21:26,0.800000,1.0,0.08,1.0,N,75,75,...,3.0,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00,2023-01-01
96,2,2023-01-01 00:09:16,2023-01-01 00:30:17,21.016667,1.0,6.22,1.0,N,138,95,...,31.0,6.00,0.5,0.00,0.0,1.0,39.75,0.0,1.25,2023-01-01
97,2,2023-01-01 00:46:56,2023-01-01 00:59:16,12.333333,1.0,4.56,1.0,N,132,218,...,20.5,1.00,0.5,5.75,0.0,1.0,30.00,0.0,1.25,2023-01-01
98,2,2023-01-01 00:10:50,2023-01-01 00:20:19,9.483333,1.0,1.41,1.0,N,264,186,...,10.7,1.00,0.5,3.92,0.0,1.0,19.62,2.5,0.00,2023-01-01
99,2,2023-01-01 00:27:35,2023-01-01 00:37:49,10.233333,1.0,1.70,1.0,N,264,114,...,11.4,1.00,0.5,2.00,0.0,1.0,18.40,2.5,0.00,2023-01-01