https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

[Data dictionary](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)

In [3]:
import pandas as pd
import pyarrow
# import fastparquet

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-12.parquet"
df2 = pd.read_parquet(url)

In [30]:
month_list = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
year_list = [str(i) for i in range(2009, 2023)]

for yeear in year_list:
    for month in month_list

['2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022']

In [4]:
df2.shape
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-12-01 00:37:35,2022-12-01 00:47:35,1.0,2.00,1.0,N,170,237,1,8.50,3.00,0.5,3.10,0.0,0.3,15.40,2.5,0.00
1,1,2022-12-01 00:34:35,2022-12-01 00:55:21,0.0,8.40,1.0,N,138,141,2,26.00,4.25,0.5,0.00,0.0,0.3,31.05,2.5,1.25
2,1,2022-12-01 00:33:26,2022-12-01 00:37:34,1.0,0.80,1.0,N,140,140,1,5.00,3.00,0.5,1.76,0.0,0.3,10.56,2.5,0.00
3,1,2022-12-01 00:45:51,2022-12-01 00:53:16,1.0,3.00,1.0,N,141,79,3,10.00,3.00,0.5,0.00,0.0,0.3,13.80,2.5,0.00
4,2,2022-12-01 00:49:49,2022-12-01 00:54:13,1.0,0.76,1.0,N,261,231,1,5.00,0.50,0.5,1.76,0.0,0.3,10.56,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3399544,2,2022-12-31 23:46:00,2023-01-01 00:11:00,NaN,11.56,NaN,None,16,36,0,39.55,0.00,0.5,8.21,0.0,1.0,49.26,NaN,NaN
3399545,2,2022-12-31 23:13:24,2022-12-31 23:29:08,NaN,5.06,NaN,None,75,50,0,26.23,0.00,0.5,0.00,0.0,1.0,30.23,NaN,NaN
3399546,2,2022-12-31 23:00:49,2022-12-31 23:26:57,NaN,13.35,NaN,None,168,197,0,47.73,0.00,0.5,9.85,0.0,1.0,59.08,NaN,NaN
3399547,1,2022-12-31 23:02:50,2022-12-31 23:16:05,NaN,0.00,NaN,None,238,116,0,12.74,0.00,0.5,0.00,0.0,1.0,16.74,NaN,NaN
3399548,2,2022-12-31 23:00:15,2022-12-31 23:22:56,NaN,4.24,NaN,None,85,37,0,19.60,0.00,0.5,4.00,0.0,1.0,25.10,NaN,NaN

In [27]:
df = df2.head(100000).copy()

# Remove edge cases
df[df['tip_amount'] < 1000] # Remove data entry error with 9-figure tip

# Create a column for trip duration
duration_list = []
time_delta_series = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
for t in time_delta_series:
    duration_list.append(t.total_seconds() / 60)
df.insert(3, 'duration', duration_list)


# Define date from the pickup time
df.insert(0, 'date', df['tpep_pickup_datetime'].dt.date)

# Define type
df.insert(1, 'type', 'yellow_taxi')

# Indicate if the ride was to an airport (RatecodeID = 2 or 3 or airport_fee is non-zero)
df['airport_share'] = df.apply(lambda x: 1 if x['RatecodeID'] in [2, 3] or x['airport_fee'] > 0 else 0, axis=1)

# Indicate if the payment was credit
df['credit_share'] = df['payment_type'].apply(lambda x: 1 if x == 1 else 0)

# Define columns to keep
columns_to_keep =  ['date', 'type', 'duration', 'passenger_count', 'trip_distance', 'tip_amount', 'total_amount', 'airport_share', 'credit_share']
df = df[columns_to_keep]

df_daily = df.groupby(['date', 'type']).mean()
df_daily.insert(0, 'count', df.groupby(['date', 'type']).count()['duration'])

df_daily

,,count,duration,passenger_count,trip_distance,tip_amount,total_amount,airport_share,credit_share
date,type,,,,,,,,
2022-11-30,yellow_taxi,41,48.808943,1.829268,4.061951,3.546585,24.558780,0.097561,0.853659
2022-12-01,yellow_taxi,130584,19.615969,1.342595,3.762795,2.979600,22.982356,0.097968,0.774337
2022-12-02,yellow_taxi,129951,18.574828,1.409842,7.078983,2.839394,22.101694,0.090442,0.764111
2022-12-03,yellow_taxi,129172,17.765761,1.486262,7.828807,2.695179,20.934024,0.070743,0.764252
2022-12-04,yellow_taxi,111619,17.331685,1.459053,5.187190,3.014759,23.263871,0.119693,0.764637
2022-12-05,yellow_taxi,113626,17.839936,1.351442,6.654190,2.937978,22.739217,0.114965,0.762317
2022-12-06,yellow_taxi,120179,19.894612,1.321348,5.898933,3.026158,22.935720,0.093394,0.772614
2022-12-07,yellow_taxi,125589,20.066481,1.327339,5.750370,3.096526,23.262348,0.095422,0.782306
2022-12-08,yellow_taxi,133862,20.442521,1.338319,4.976634,3.129861,23.638735,0.095285,0.781088
2022-12-09,yellow_taxi,135397,19.308076,1.397184,5.262050,2.988420,22.783169,0.090822,0.770844
2022-12-10,yellow_taxi,129278,18.597965,1.470738,4.159240,2.778917,21.525987,0.068349,0.766596
2022-12-11,yellow_taxi,107756,17.423852,1.456085,3.909874,3.005270,23.033014,0.115158,0.768932
2022-12-12,yellow_taxi,112374,17.853251,1.354041,4.268605,2.899893,22.422283,0.108949,0.765604
2022-12-13,yellow_taxi,124239,18.417275,1.330301,4.677001,2.906127,22.065443,0.085835,0.775216
2022-12-14,yellow_taxi,129324,19.010448,1.326511,4.524565,1378.200417,22.219213,0.081825,0.772703
2022-12-15,yellow_taxi,131175,19.900291,1.335300,3.526985,3.023031,22.769464,0.084803,0.777198
2022-12-16,yellow_taxi,127755,19.036533,1.389955,4.424712,2.973724,22.673416,0.089515,0.760628
2022-12-17,yellow_taxi,125382,18.495686,1.492043,3.782385,2.834931,21.834228,0.073814,0.756943
2022-12-18,yellow_taxi,102878,17.050404,1.487629,4.017527,2.983972,23.269454,0.106621,0.737106
2022-12-19,yellow_taxi,112460,16.925512,1.404397,4.832532,3.319893,27.510186,0.099449,0.737053
2022-12-20,yellow_taxi,116021,17.863042,1.395455,3.356491,3.385662,27.806331,0.084640,0.753614
2022-12-21,yellow_taxi,113560,18.491917,1.400350,5.167580,3.466525,28.507353,0.089222,0.750335
2022-12-22,yellow_taxi,102850,18.557160,1.414972,3.650806,3.374415,28.403130,0.096976,0.738755
2022-12-23,yellow_taxi,95028,16.382870,1.449239,3.455618,3.123522,26.942867,0.093120,0.713221
2022-12-24,yellow_taxi,75519,14.327706,1.514524,3.329849,2.835761,25.025802,0.090904,0.668388
2022-12-25,yellow_taxi,50109,16.054531,1.556460,4.138615,3.150251,28.624608,0.139197,0.649125
2022-12-26,yellow_taxi,67459,17.667564,1.564689,4.130195,3.341734,29.594587,0.152404,0.692228
2022-12-27,yellow_taxi,86290,18.507198,1.514512,4.205887,3.418239,29.909588,0.141766,0.708170
2022-12-28,yellow_taxi,89065,18.671067,1.510301,4.193342,3.428778,29.564857,0.127996,0.714624
2022-12-29,yellow_taxi,93498,18.804426,1.514585,3.791165,3.429100,29.533789,0.123179,0.719331
2022-12-30,yellow_taxi,92429,18.641188,1.507088,3.934692,3.461874,29.836820,0.125956,0.721711
2022-12-31,yellow_taxi,85075,15.312132,1.522136,5.496663,3.162040,26.715433,0.103544,0.715087
2023-01-01,yellow_taxi,5,12.700000,2.000000,1.752000,2.780000,22.240000,0.000000,0.800000

In [14]:
df.columns

Index(['date', 'type', 'VendorID', 'tpep_pickup_datetime',
       'tpep_dropoff_datetime', 'duration', 'passenger_count', 'trip_distance',
       'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'airport_fee', 'airport'],
      dtype='object')