https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

[Data dictionary](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)

In [55]:
import pandas as pd
import numpy as np
import pyarrow
# import fastparquet

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet"
# url3 = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-12.parquet"
df2 = pd.read_parquet(url)
# df3 = pd.read_parquet(url)

In [56]:
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [73]:
col = 'total_amount'
print(df2[col].min(), df2[col].max())

# len(df2[df2['trip_distance']>100])/len(df2)

0.0 1000.0

In [76]:
df2.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [94]:
first_day = datetime.date(2009, 1, 1)
last_day = datetime.date(2023, 1, 31)



# df2.iloc[0]['tpep_pickup_datetime'].date()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
2929496,2,2023-02-01 00:13:10,2023-02-01 00:29:37,1.0,3.27,1.0,N,230,4,1,19.1,0.0,0.5,4.62,0.00,1.0,27.72,2.5,0.00
2929497,2,2023-02-01 00:56:53,2023-02-01 01:06:43,1.0,2.38,1.0,N,162,90,1,13.5,0.0,0.5,3.50,0.00,1.0,21.00,2.5,0.00
2992346,2,2023-02-01 00:00:24,2023-02-01 00:07:53,2.0,2.22,1.0,N,211,90,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
2992642,2,2023-02-01 00:01:10,2023-02-01 00:14:26,1.0,2.03,1.0,N,230,162,1,13.5,1.0,0.5,3.70,0.00,1.0,22.20,2.5,0.00
2993262,2,2023-02-01 00:00:18,2023-02-01 00:08:46,1.0,2.12,1.0,N,230,239,2,12.1,1.0,0.5,NaN,0.00,1.0,17.10,2.5,0.00
2993558,2,2023-02-01 00:00:55,2023-02-01 00:06:33,1.0,1.09,1.0,N,246,164,2,7.9,1.0,0.5,NaN,0.00,1.0,12.90,2.5,0.00
2993635,2,2023-02-01 00:00:01,2023-02-01 00:33:41,1.0,17.31,2.0,N,132,170,1,70.0,0.0,0.5,16.36,6.55,1.0,98.16,2.5,1.25
2993890,2,2023-02-01 00:00:20,2023-02-01 00:13:18,2.0,2.31,1.0,N,68,148,2,14.2,1.0,0.5,NaN,0.00,1.0,19.20,2.5,0.00
2994212,2,2023-02-01 00:00:35,2023-02-01 00:17:12,1.0,2.88,1.0,N,137,142,1,17.7,1.0,0.5,2.27,0.00,1.0,24.97,2.5,0.00
2994844,2,2023-02-01 00:00:40,2023-02-01 00:23:03,5.0,10.12,1.0,N,70,75,1,40.8,1.0,0.5,5.08,0.00,1.0,50.88,2.5,0.00

In [3]:
import numpy as np
import datetime

# Define variables specific to this dataset
car_type = 'yellow_taxi'
month_list = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
year_list = [str(i) for i in range(2009, 2024)]
first_day = datetime.date(2009, 1, 1)
last_day = datetime.date(2023, 1, 31)

# More variables
last_month = last_day.strftime('%Y-%m')
data = pd.DataFrame()

# Loop through each year-month
for year in year_list:
    for month in month_list:
        print(f"Adding {year}-{month}...")

        # Load data
        url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month}.parquet"
        df = pd.read_parquet(url)

        # Rename columns
        new_names = {'Passanger_Count': 'passanger_count',
                     'Trip_Distance': 'trip_distance',
                     'Payment_Type': 'payment_type',
                     'Tip_Amt': 'tip_amount',
                     'Total_Amt': 'total_amount',
                     'Trip_Pickup_DateTime': 'tpep_pickup_datetime',
                     'Trip_Dropoff_DateTime': 'tpep_dropoff_datetime',
                     'pickup_datetime': 'tpep_pickup_datetime',
                     'dropoff_datetime': 'tpep_dropoff_datetime',
                     'old_col2': 'new_col2'}
        df = df.rename(columns=new_names)

        # Exclude dates not in range
        df = df[df['tpep_pickup_datetime'].dt.date > first_day]
        df = df[df['tpep_pickup_datetime'].dt.date > last_day]

        # Create a column for trip duration
        duration_list = []
        time_delta_series = pd.to_datetime(df['tpep_dropoff_datetime']) - pd.to_datetime(df['tpep_pickup_datetime'])
        time_delta_series = time_delta_series.dt.total_seconds() / 60
        df.insert(3, 'duration', time_delta_series)

        # Define date from the pickup time
        df.insert(0, 'date', pd.to_datetime(df['tpep_pickup_datetime']).dt.date)

        # Define type of car
        df.insert(1, 'type', car_type)

        # Create a variable for the share of trip to an airport
        if 'RatecodeID' in df.columns:
            if 'airport_fee' in df.columns:
                # Fill None values with NaN
                df['airport_fee'] = df['airport_fee'].fillna(value=np.nan)

                # Indicate if the ride was to an airport (RatecodeID = 2 or 3 or airport_fee is non-zero)
                df['airport_share'] = df.apply(lambda x: 1 if x['RatecodeID'] in [2, 3] or x['airport_fee'] > 0 else 0, axis=1)
            else:
                df['airport_share'] = df.apply(lambda x: 1 if x['RatecodeID'] in [2, 3] else 0, axis=1)
        else:
            # Add blank column
            df['airport_share'] = np.nan

        # Indicate if the payment was credit (if column exists)
        if 'credit_share' in df.columns:
            df['credit_share'] = df['payment_type'].apply(lambda x: 1 if x == 1 or x =='CREDIT' else 0)
        else:
            df['credit_share'] = np.nan

        # Create empty column if it does not exist
        if 'passenger_count' not in df.columns:
            df['passenger_count'] = np.nan

        # Define columns to keep
        columns_to_keep =  ['date', 'type', 'duration', 'passenger_count', 'trip_distance', 'tip_amount', 'total_amount', 'airport_share', 'credit_share']
        df = df[columns_to_keep]

        # Replace rows in defined range with NaN (high likelihood of being outliers or errors)
        df.loc[(df['passenger_count'] < 1) | (df['passenger_count'] > 9), 'passenger_count'] = np.nan
        df.loc[(df['trip_distance'] <= 0) | (df['trip_distance'] > 100), 'trip_distance'] = np.nan
        df.loc[(df['tip_amount'] < 0) | (df['tip_amount'] > 1000), 'tip_amount'] = np.nan
        df.loc[(df['total_amount'] < 0) | (df['total_amount'] > 1000), 'total_amount'] = np.nan
        df.loc[(df['duration'] < 0) | (df['duration'] > 500), 'duration'] = np.nan

        # Group data
        df_daily = df.groupby(['date', 'type']).mean()
        df_daily.insert(0, 'count', df.groupby(['date', 'type']).count()['duration'])

        data = pd.concat([data, df_daily], axis=0)

        # Stop the loop on the last month
        if f"{year}-{month}" == last_month:
            break

    # Stop the loop on the last month
    if f"{year}-{month}" == last_month:
        break

Adding 2009-01...
Adding 2009-02...
Adding 2009-03...
Adding 2009-04...
Adding 2009-05...
Adding 2009-06...
Adding 2009-07...
Adding 2009-08...
Adding 2009-09...
Adding 2009-10...
Adding 2009-11...
Adding 2009-12...
Adding 2010-01...
Adding 2010-02...
Adding 2010-03...
Adding 2010-04...
Adding 2010-05...
Adding 2010-06...
Adding 2010-07...
Adding 2010-08...
Adding 2010-09...
Adding 2010-10...
Adding 2010-11...
Adding 2010-12...
Adding 2011-01...
Adding 2011-02...
Adding 2011-03...
Adding 2011-04...
Adding 2011-05...
Adding 2011-06...
Adding 2011-07...
Adding 2011-08...
Adding 2011-09...
Adding 2011-10...
Adding 2011-11...
Adding 2011-12...
Adding 2012-01...
Adding 2012-02...
Adding 2012-03...
Adding 2012-04...
Adding 2012-05...
Adding 2012-06...
Adding 2012-07...
Adding 2012-08...
Adding 2012-09...
Adding 2012-10...
Adding 2012-11...
Adding 2012-12...
Adding 2013-01...
Adding 2013-02...
Adding 2013-03...
Adding 2013-04...
Adding 2013-05...
Adding 2013-06...
Adding 2013-07...
Adding 2013-08...
Adding 2013-09...
Adding 2013-10...
Adding 2013-11...
Adding 2013-12...
Adding 2014-01...
Adding 2014-02...
Adding 2014-03...
Adding 2014-04...
Adding 2014-05...
Adding 2014-06...
Adding 2014-07...
Adding 2014-08...
Adding 2014-09...
Adding 2014-10...
Adding 2014-11...
Adding 2014-12...
Adding 2015-01...
Adding 2015-02...
Adding 2015-03...
Adding 2015-04...
Adding 2015-05...
Adding 2015-06...
Adding 2015-07...
Adding 2015-08...
Adding 2015-09...
Adding 2015-10...
Adding 2015-11...
Adding 2015-12...
Adding 2016-01...
Adding 2016-02...
Adding 2016-03...
Adding 2016-04...
Adding 2016-05...
Adding 2016-06...
Adding 2016-07...
Adding 2016-08...
Adding 2016-09...
Adding 2016-10...
Adding 2016-11...
Adding 2016-12...
Adding 2017-01...
Adding 2017-02...
Adding 2017-03...
Adding 2017-04...
Adding 2017-05...
Adding 2017-06...
Adding 2017-07...
Adding 2017-08...
Adding 2017-09...
Adding 2017-10...
Adding 2017-11...
Adding 2017-12...
Adding 2018-01...
Adding 2018-02...
Adding 2018-03...
Adding 2018-04...
Adding 2018-05...
Adding 2018-06...
Adding 2018-07...
Adding 2018-08...
Adding 2018-09...
Adding 2018-10...
Adding 2018-11...
Adding 2018-12...
Adding 2019-01...
Adding 2019-02...
Adding 2019-03...
Adding 2019-04...
Adding 2019-05...
Adding 2019-06...
Adding 2019-07...
Adding 2019-08...
Adding 2019-09...
Adding 2019-10...
Adding 2019-11...
Adding 2019-12...
Adding 2020-01...
Adding 2020-02...
Adding 2020-03...
Adding 2020-04...
Adding 2020-05...
Adding 2020-06...
Adding 2020-07...
Adding 2020-08...
Adding 2020-09...
Adding 2020-10...
Adding 2020-11...
Adding 2020-12...
Adding 2021-01...
Adding 2021-02...
Adding 2021-03...
Adding 2021-04...
Adding 2021-05...
Adding 2021-06...
Adding 2021-07...
Adding 2021-08...
Adding 2021-09...
Adding 2021-10...
Adding 2021-11...
Adding 2021-12...
Adding 2022-01...
Adding 2022-02...
Adding 2022-03...
Adding 2022-04...
Adding 2022-05...
Adding 2022-06...
Adding 2022-07...
Adding 2022-08...
Adding 2022-09...
Adding 2022-10...
Adding 2022-11...
Adding 2022-12...
Adding 2023-01...

In [7]:
data.to_csv('data2.csv')

,,count,duration,passenger_count,trip_distance,tip_amount,total_amount,airport_share,credit_share
date,type,,,,,,,,
2009-01-01,yellow_taxi,327625,10.455512,NaN,2.880037,0.329896,10.377966,NaN,NaN
2009-01-02,yellow_taxi,376708,11.105919,NaN,2.683653,0.339906,10.353366,NaN,NaN
2009-01-03,yellow_taxi,432710,11.355001,NaN,2.725801,0.366799,10.278468,NaN,NaN
2009-01-04,yellow_taxi,367525,11.798098,NaN,3.068749,0.452462,11.064838,NaN,NaN
2009-01-05,yellow_taxi,370901,11.144530,NaN,2.788340,0.439258,10.605498,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-01-28,yellow_taxi,111645,15.499590,1.438778,3.135049,3.119819,24.762694,0.059089,NaN
2023-01-29,yellow_taxi,88131,14.910676,1.403728,3.719613,3.456762,27.428120,0.110177,NaN
2023-01-30,yellow_taxi,83768,15.515086,1.292904,3.524962,3.423433,27.565056,0.111057,NaN
2023-01-31,yellow_taxi,100372,16.183662,1.285499,4.808261,3.360753,26.573676,0.080182,NaN
2023-02-01,yellow_taxi,10,14.676667,1.600000,4.573000,3.881000,31.381000,0.100000,NaN

In [74]:
da = data.copy()
da = da.sort_values(by='count', ascending=False) #.drop_duplicates(subset=['date'])
da = da[~da.index.duplicated(keep='first')]
da.sort_values('count')

,,count,duration,passenger_count,trip_distance,tip_amount,total_amount,airport_share,credit_share
date,type,,,,,,,,
2028-12-07,yellow_taxi,1,40.966667,3.000000,16.150000,0.000000,63.100000,1.0,NaN
2029-05-06,yellow_taxi,1,20.000000,4.000000,4.470000,4.910000,29.470000,0.0,NaN
2070-08-29,yellow_taxi,1,1148.466667,1.000000,0.000000,0.000000,0.000000,0.0,NaN
2041-06-25,yellow_taxi,1,6.000000,1.000000,1.340000,0.000000,8.300000,0.0,NaN
2090-12-31,yellow_taxi,1,37.383333,2.000000,18.600000,0.000000,61.420000,1.0,NaN
...,...,...,...,...,...,...,...,...,...
2010-09-22,yellow_taxi,678683,13.078569,1.512846,2.688022,0.883752,12.192887,NaN,NaN
2010-09-23,yellow_taxi,679260,13.303752,1.514227,2.826557,0.917060,12.614110,NaN,NaN
2010-09-24,yellow_taxi,725850,13.126564,1.565880,2.779904,0.842562,12.331652,NaN,NaN
2010-09-25,yellow_taxi,763954,12.259220,1.669161,2.789760,0.717480,11.695756,NaN,NaN
2010-09-19,yellow_taxi,849414,12.243235,1.580665,3.082259,0.790757,12.373424,NaN,NaN

In [8]:
data.sort_values(by='duration', ascending=False) #.drop_duplicates(subset=['date'])

,,count,duration,passenger_count,trip_distance,tip_amount,total_amount,airport_share,credit_share
date,type,,,,,,,,
2002-10-24,yellow_taxi,61,4.568739e+06,1.262295,5.747869,1.252787,30.173279,0.229508,NaN
2002-10-26,yellow_taxi,44,3.753438e+06,1.136364,2.631136,0.647273,21.140455,0.090909,NaN
2002-10-21,yellow_taxi,42,3.440656e+06,1.214286,5.127619,1.380714,28.511667,0.119048,NaN
2002-10-27,yellow_taxi,64,3.064353e+06,1.406250,4.689531,1.879219,24.697969,0.250000,NaN
2002-10-23,yellow_taxi,63,2.949137e+06,1.190476,4.025238,1.744127,24.702857,0.222222,NaN
...,...,...,...,...,...,...,...,...,...
2015-04-04,yellow_taxi,439978,-3.679601e+01,1.762027,2.742896,1.325973,14.191453,0.014596,NaN
2014-12-20,yellow_taxi,499142,-1.067791e+02,1.744496,2.870625,1.424808,14.754150,0.020092,NaN
2015-07-31,yellow_taxi,397703,-1.358162e+02,1.696935,33.811875,1.764190,17.364206,0.025104,NaN
2018-11-13,yellow_taxi,287048,-1.502714e+02,1.535233,2.852006,2.044547,16.923080,0.023979,NaN
2015-12-26,yellow_taxi,238522,-2.400369e+02,1.790405,3.092139,1.310975,15.334715,0.029259,NaN

In [23]:
data.index[0]

(datetime.date(2009, 1, 1), 'yellow_taxi')

In [25]:
import datetime
data.loc[(datetime.date(2012, 2, 22), 'yellow_taxi')]

/var/folders/8k/1982q0sd17v8dt4gxj5mqhk80000gn/T/ipykernel_50645/1183234500.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  data.loc[(datetime.date(2012, 2, 22), 'yellow_taxi')]

                         count     duration  passenger_count  trip_distance  \
date       type
2012-02-22 yellow_taxi  450353    11.611726         1.595875       2.728795
           yellow_taxi       1  1432.216667         1.000000       0.000000

                        tip_amount  total_amount  airport_share  credit_share
date       type
2012-02-22 yellow_taxi    1.063574     12.040756       0.015381           NaN
           yellow_taxi    0.000000      0.000000       0.000000           NaN

In [4]:
df2.shape
df2

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-12-01 00:37:35,2022-12-01 00:47:35,1.0,2.00,1.0,N,170,237,1,8.50,3.00,0.5,3.10,0.0,0.3,15.40,2.5,0.00
1,1,2022-12-01 00:34:35,2022-12-01 00:55:21,0.0,8.40,1.0,N,138,141,2,26.00,4.25,0.5,0.00,0.0,0.3,31.05,2.5,1.25
2,1,2022-12-01 00:33:26,2022-12-01 00:37:34,1.0,0.80,1.0,N,140,140,1,5.00,3.00,0.5,1.76,0.0,0.3,10.56,2.5,0.00
3,1,2022-12-01 00:45:51,2022-12-01 00:53:16,1.0,3.00,1.0,N,141,79,3,10.00,3.00,0.5,0.00,0.0,0.3,13.80,2.5,0.00
4,2,2022-12-01 00:49:49,2022-12-01 00:54:13,1.0,0.76,1.0,N,261,231,1,5.00,0.50,0.5,1.76,0.0,0.3,10.56,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3399544,2,2022-12-31 23:46:00,2023-01-01 00:11:00,NaN,11.56,NaN,None,16,36,0,39.55,0.00,0.5,8.21,0.0,1.0,49.26,NaN,NaN
3399545,2,2022-12-31 23:13:24,2022-12-31 23:29:08,NaN,5.06,NaN,None,75,50,0,26.23,0.00,0.5,0.00,0.0,1.0,30.23,NaN,NaN
3399546,2,2022-12-31 23:00:49,2022-12-31 23:26:57,NaN,13.35,NaN,None,168,197,0,47.73,0.00,0.5,9.85,0.0,1.0,59.08,NaN,NaN
3399547,1,2022-12-31 23:02:50,2022-12-31 23:16:05,NaN,0.00,NaN,None,238,116,0,12.74,0.00,0.5,0.00,0.0,1.0,16.74,NaN,NaN
3399548,2,2022-12-31 23:00:15,2022-12-31 23:22:56,NaN,4.24,NaN,None,85,37,0,19.60,0.00,0.5,4.00,0.0,1.0,25.10,NaN,NaN

In [27]:
df = df2.head(100).copy()

# Remove edge cases
df[df['tip_amount'] < 1000] # Remove data entry error with 9-figure tip

# Create a column for trip duration
duration_list = []
time_delta_series = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
for t in time_delta_series:
    duration_list.append(t.total_seconds() / 60)
df.insert(3, 'duration', duration_list)


# Define date from the pickup time
df.insert(0, 'date', df['tpep_pickup_datetime'].dt.date)

# Define type
df.insert(1, 'type', 'yellow_taxi')

# Indicate if the ride was to an airport (RatecodeID = 2 or 3 or airport_fee is non-zero)
df['airport_share'] = df.apply(lambda x: 1 if x['RatecodeID'] in [2, 3] or x['airport_fee'] > 0 else 0, axis=1)

# Indicate if the payment was credit
df['credit_share'] = df['payment_type'].apply(lambda x: 1 if x == 1 else 0)

# Define columns to keep
columns_to_keep =  ['date', 'type', 'duration', 'passenger_count', 'trip_distance', 'tip_amount', 'total_amount', 'airport_share', 'credit_share']
df = df[columns_to_keep]

# Group data
df_daily = df.groupby(['date', 'type']).mean()
df_daily.insert(0, 'count', df.groupby(['date', 'type']).count()['duration'])

df_daily

,,count,duration,passenger_count,trip_distance,tip_amount,total_amount,airport_share,credit_share
date,type,,,,,,,,
2022-11-30,yellow_taxi,41,48.808943,1.829268,4.061951,3.546585,24.558780,0.097561,0.853659
2022-12-01,yellow_taxi,130584,19.615969,1.342595,3.762795,2.979600,22.982356,0.097968,0.774337
2022-12-02,yellow_taxi,129951,18.574828,1.409842,7.078983,2.839394,22.101694,0.090442,0.764111
2022-12-03,yellow_taxi,129172,17.765761,1.486262,7.828807,2.695179,20.934024,0.070743,0.764252
2022-12-04,yellow_taxi,111619,17.331685,1.459053,5.187190,3.014759,23.263871,0.119693,0.764637
2022-12-05,yellow_taxi,113626,17.839936,1.351442,6.654190,2.937978,22.739217,0.114965,0.762317
2022-12-06,yellow_taxi,120179,19.894612,1.321348,5.898933,3.026158,22.935720,0.093394,0.772614
2022-12-07,yellow_taxi,125589,20.066481,1.327339,5.750370,3.096526,23.262348,0.095422,0.782306
2022-12-08,yellow_taxi,133862,20.442521,1.338319,4.976634,3.129861,23.638735,0.095285,0.781088
2022-12-09,yellow_taxi,135397,19.308076,1.397184,5.262050,2.988420,22.783169,0.090822,0.770844
2022-12-10,yellow_taxi,129278,18.597965,1.470738,4.159240,2.778917,21.525987,0.068349,0.766596
2022-12-11,yellow_taxi,107756,17.423852,1.456085,3.909874,3.005270,23.033014,0.115158,0.768932
2022-12-12,yellow_taxi,112374,17.853251,1.354041,4.268605,2.899893,22.422283,0.108949,0.765604
2022-12-13,yellow_taxi,124239,18.417275,1.330301,4.677001,2.906127,22.065443,0.085835,0.775216
2022-12-14,yellow_taxi,129324,19.010448,1.326511,4.524565,1378.200417,22.219213,0.081825,0.772703
2022-12-15,yellow_taxi,131175,19.900291,1.335300,3.526985,3.023031,22.769464,0.084803,0.777198
2022-12-16,yellow_taxi,127755,19.036533,1.389955,4.424712,2.973724,22.673416,0.089515,0.760628
2022-12-17,yellow_taxi,125382,18.495686,1.492043,3.782385,2.834931,21.834228,0.073814,0.756943
2022-12-18,yellow_taxi,102878,17.050404,1.487629,4.017527,2.983972,23.269454,0.106621,0.737106
2022-12-19,yellow_taxi,112460,16.925512,1.404397,4.832532,3.319893,27.510186,0.099449,0.737053
2022-12-20,yellow_taxi,116021,17.863042,1.395455,3.356491,3.385662,27.806331,0.084640,0.753614
2022-12-21,yellow_taxi,113560,18.491917,1.400350,5.167580,3.466525,28.507353,0.089222,0.750335
2022-12-22,yellow_taxi,102850,18.557160,1.414972,3.650806,3.374415,28.403130,0.096976,0.738755
2022-12-23,yellow_taxi,95028,16.382870,1.449239,3.455618,3.123522,26.942867,0.093120,0.713221
2022-12-24,yellow_taxi,75519,14.327706,1.514524,3.329849,2.835761,25.025802,0.090904,0.668388
2022-12-25,yellow_taxi,50109,16.054531,1.556460,4.138615,3.150251,28.624608,0.139197,0.649125
2022-12-26,yellow_taxi,67459,17.667564,1.564689,4.130195,3.341734,29.594587,0.152404,0.692228
2022-12-27,yellow_taxi,86290,18.507198,1.514512,4.205887,3.418239,29.909588,0.141766,0.708170
2022-12-28,yellow_taxi,89065,18.671067,1.510301,4.193342,3.428778,29.564857,0.127996,0.714624
2022-12-29,yellow_taxi,93498,18.804426,1.514585,3.791165,3.429100,29.533789,0.123179,0.719331
2022-12-30,yellow_taxi,92429,18.641188,1.507088,3.934692,3.461874,29.836820,0.125956,0.721711
2022-12-31,yellow_taxi,85075,15.312132,1.522136,5.496663,3.162040,26.715433,0.103544,0.715087
2023-01-01,yellow_taxi,5,12.700000,2.000000,1.752000,2.780000,22.240000,0.000000,0.800000

In [14]:
df.columns

Index(['date', 'type', 'VendorID', 'tpep_pickup_datetime',
       'tpep_dropoff_datetime', 'duration', 'passenger_count', 'trip_distance',
       'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'airport_fee', 'airport'],
      dtype='object')