In [46]:
import pandas as pd

df_raw = pd.read_csv('vending_revenue.csv')
df_raw

,WeekStartingSat,Location,Total,Quantity,AvgPriceItemSold,Type_Drink,Type_Food,Category_Carbonated,Category_Non Carbonated,Category_Salty,...,HealthyMarketing_True,Payment_Cash,Payment_Credit,DayOfWeek_Sat,DayOfWeek_Sun,DayOfWeek_Mon,DayOfWeek_Tue,DayOfWeek_Wed,DayOfWeek_Thu,DayOfWeek_Fri
0,2022-01-01,Factory,58.50,35.0,1.671429,0.228571,0.771429,0.171429,0.057143,0.342857,...,0.485714,0.942857,0.057143,0.000000,0.000,0.228571,0.342857,0.171429,0.142857,0.114286
1,2022-01-01,Library,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-01,Mall 1,23.00,9.0,2.555556,0.666667,0.333333,0.666667,0.000000,0.333333,...,0.444444,0.111111,0.888889,0.555556,0.000,0.111111,0.111111,0.111111,0.111111,0.000000
3,2022-01-01,Mall 2,17.75,9.0,1.972222,0.625000,0.375000,0.125000,0.250000,0.250000,...,0.750000,0.875000,0.125000,0.000000,0.125,0.125000,0.250000,0.000000,0.250000,0.250000
4,2022-01-01,Office,26.75,13.0,2.057692,0.153846,0.846154,0.000000,0.153846,0.692308,...,0.846154,0.769231,0.230769,0.000000,0.000,0.384615,0.076923,0.153846,0.307692,0.076923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,2022-12-31,Factory,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,2022-12-31,Library,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,2022-12-31,Mall 1,3.00,2.0,1.500000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
263,2022-12-31,Mall 2,3.50,2.0,1.750000,0.500000,0.500000,0.500000,0.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
264,2022-12-31,Office,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df = df_raw.copy()
df = df.dropna()
df = df.drop(columns=['WeekStartingSat'])
df

,Location,Total,Quantity,AvgPriceItemSold,Type_Drink,Type_Food,Category_Carbonated,Category_Non Carbonated,Category_Salty,Category_Sweet,...,HealthyMarketing_True,Payment_Cash,Payment_Credit,DayOfWeek_Sat,DayOfWeek_Sun,DayOfWeek_Mon,DayOfWeek_Tue,DayOfWeek_Wed,DayOfWeek_Thu,DayOfWeek_Fri
0,Factory,58.50,35.0,1.671429,0.228571,0.771429,0.171429,0.057143,0.342857,0.428571,...,0.485714,0.942857,0.057143,0.000000,0.000,0.228571,0.342857,0.171429,0.142857,0.114286
2,Mall 1,23.00,9.0,2.555556,0.666667,0.333333,0.666667,0.000000,0.333333,0.000000,...,0.444444,0.111111,0.888889,0.555556,0.000,0.111111,0.111111,0.111111,0.111111,0.000000
3,Mall 2,17.75,9.0,1.972222,0.625000,0.375000,0.125000,0.250000,0.250000,0.125000,...,0.750000,0.875000,0.125000,0.000000,0.125,0.125000,0.250000,0.000000,0.250000,0.250000
4,Office,26.75,13.0,2.057692,0.153846,0.846154,0.000000,0.153846,0.692308,0.153846,...,0.846154,0.769231,0.230769,0.000000,0.000,0.384615,0.076923,0.153846,0.307692,0.076923
5,Factory,61.50,40.0,1.537500,0.425000,0.575000,0.425000,0.000000,0.400000,0.175000,...,0.375000,0.850000,0.150000,0.050000,0.000,0.050000,0.100000,0.025000,0.275000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Mall 1,46.50,26.0,1.788462,0.541667,0.458333,0.000000,0.250000,0.333333,0.125000,...,0.541667,0.666667,0.333333,0.041667,0.000,0.541667,0.083333,0.166667,0.000000,0.166667
258,Mall 2,30.00,16.0,1.875000,0.533333,0.466667,0.333333,0.200000,0.466667,0.000000,...,0.666667,0.666667,0.333333,0.000000,0.000,0.466667,0.066667,0.466667,0.000000,0.000000
259,Office,3.00,2.0,1.500000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.500000,0.000000,0.500000,0.000000
262,Mall 1,3.00,2.0,1.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
263,Mall 2,3.50,2.0,1.750000,0.500000,0.500000,0.500000,0.000000,0.000000,0.500000,...,1.000000,1.000000,0.000000,1.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000

In [48]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Load the data from the CSV file
# df = pd.read_csv('data.csv')

# Preprocess the data
label_encoder = LabelEncoder()
# df['Location'] = label_encoder.fit_transform(df['Location'])  # Convert location labels to numeric values
#
# # Split the data into input features (X) and the target variable (y)
# X = df.drop('Location', axis=1)
# y = df['Location']
#
# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)
#
# # Define the TensorFlow model
# model = tf.keras.Sequential()
# model.add(tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
# model.add(tf.keras.layers.Dense(64, activation='relu'))
# model.add(tf.keras.layers.Dense(1, activation='linear'))
#
# # Compile the model
# model.compile(optimizer='adam', loss='mean_squared_error')
#
# # Train the model
# model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test))
#
# # Evaluate the model
# loss = model.evaluate(X_test, y_test)
# print('Test Loss:', loss)

In [49]:
# Save the trained model
# model.save('location_prediction_model')

# # Or save it in the TensorFlow SavedModel format
# tf.saved_model.save(model, 'location_prediction_saved_model')

In [50]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical

# Load the saved model
loaded_model = tf.keras.models.load_model('location_prediction_model')

# Load the dataset
# df = pd.read_csv('data.csv')

# Preprocess the data
label_encoder = LabelEncoder()
df['Location'] = label_encoder.fit_transform(df['Location'])  # Encode location labels

# Split the data into input features (X) and the target variable (y)
X = df.drop('Location', axis=1)

# Predict the labels
predictions = loaded_model.predict(X)
###
import numpy as np
# p = predictions.round(0)
p = [int(min(max(pred.round(0), 0), 4)) for pred in predictions]
# p = np.where(p == -1, 0, p)
# p = np.where(p == -0, 0, p)
# p = np.where(p == 5, 4, p)
# p = p.astype(int)
# p = p.ravel()
###
# predicted_labels = tf.argmax(p, axis=1)

# Decode the predicted labels
decoded_labels = label_encoder.inverse_transform(p)

# Add the predicted labels to the DataFrame
df['Predicted_Location'] = decoded_labels

# Decode Location
df['Location'] = label_encoder.inverse_transform(df['Location'])

# Print the DataFrame with the predictions
print(df)

8/8 [==============================] - 0s 2ms/step
    Location  Total  Quantity  AvgPriceItemSold  Type_Drink  Type_Food  \
0    Factory  58.50      35.0          1.671429    0.228571   0.771429
2     Mall 1  23.00       9.0          2.555556    0.666667   0.333333
3     Mall 2  17.75       9.0          1.972222    0.625000   0.375000
4     Office  26.75      13.0          2.057692    0.153846   0.846154
5    Factory  61.50      40.0          1.537500    0.425000   0.575000
..       ...    ...       ...               ...         ...        ...
257   Mall 1  46.50      26.0          1.788462    0.541667   0.458333
258   Mall 2  30.00      16.0          1.875000    0.533333   0.466667
259   Office   3.00       2.0          1.500000    0.000000   1.000000
262   Mall 1   3.00       2.0          1.500000    1.000000   0.000000
263   Mall 2   3.50       2.0          1.750000    0.500000   0.500000

     Category_Carbonated  Category_Non Carbonated  Category_Salty  \
0               0.171429                 0.057143        0.342857
2               0.666667                 0.000000        0.333333
3               0.125000                 0.250000        0.250000
4               0.000000                 0.153846        0.692308
5               0.425000                 0.000000        0.400000
..                   ...                      ...             ...
257             0.000000                 0.250000        0.333333
258             0.333333                 0.200000        0.466667
259             0.000000                 0.000000        1.000000
262             0.000000                 0.000000        0.000000
263             0.500000                 0.000000        0.000000

     Category_Sweet  ...  Payment_Cash  Payment_Credit  DayOfWeek_Sat  \
0          0.428571  ...      0.942857        0.057143       0.000000
2          0.000000  ...      0.111111        0.888889       0.555556
3          0.125000  ...      0.875000        0.125000       0.000000
4          0.153846  ...      0.769231        0.230769       0.000000
5          0.175000  ...      0.850000        0.150000       0.050000
..              ...  ...           ...             ...            ...
257        0.125000  ...      0.666667        0.333333       0.041667
258        0.000000  ...      0.666667        0.333333       0.000000
259        0.000000  ...      1.000000        0.000000       0.000000
262        0.000000  ...      1.000000        0.000000       1.000000
263        0.500000  ...      1.000000        0.000000       1.000000

     DayOfWeek_Sun  DayOfWeek_Mon  DayOfWeek_Tue  DayOfWeek_Wed  \
0            0.000       0.228571       0.342857       0.171429
2            0.000       0.111111       0.111111       0.111111
3            0.125       0.125000       0.250000       0.000000
4            0.000       0.384615       0.076923       0.153846
5            0.000       0.050000       0.100000       0.025000
..             ...            ...            ...            ...
257          0.000       0.541667       0.083333       0.166667
258          0.000       0.466667       0.066667       0.466667
259          0.000       0.000000       0.500000       0.000000
262          0.000       0.000000       0.000000       0.000000
263          0.000       0.000000       0.000000       0.000000

     DayOfWeek_Thu  DayOfWeek_Fri  Predicted_Location
0         0.142857       0.114286              Office
2         0.111111       0.000000              Mall 1
3         0.250000       0.250000              Mall 2
4         0.307692       0.076923              Office
5         0.275000       0.500000             Factory
..             ...            ...                 ...
257       0.000000       0.166667              Mall 1
258       0.000000       0.000000              Office
259       0.500000       0.000000              Office
262       0.000000       0.000000              Mall 1
263       0.000000       0.000000              Mall 2

[252 rows x 23 columns]

In [51]:
df_output = df[['Location', 'Predicted_Location']]
df_output

    Location Predicted_Location
0    Factory             Office
2     Mall 1             Mall 1
3     Mall 2             Mall 2
4     Office             Office
5    Factory            Factory
..       ...                ...
257   Mall 1             Mall 1
258   Mall 2             Office
259   Office             Office
262   Mall 1             Mall 1
263   Mall 2             Mall 2

[252 rows x 2 columns]

In [52]:
# df_output['Incorrect']
sum(df_output['Location'] == df_output['Predicted_Location'])/len(df_output)

0.9404761904761905